.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 4 / 2; }
    .div2 { grid-area: 4 / 1 / 5 / 6; }
    .div3 { grid-area: 1 / 2 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 6; }
    .div5 { grid-area: 2 / 2 / 3 / 5; }
    .div6 { grid-area: 2 / 5 / 3 / 6; }
    .div7 { grid-area: 3 / 2 / 4 / 3; }
    .div8 { grid-area: 3 / 3 / 4 / 6; margin-left: auto; margin-right: auto; }

       h1{
        font-family: 'Roboto';
        font-style: normal;
        font-size: 35px;
        line-height: 1px;
        color: white;
        text-align: center;
       }
       h2{
        font-family: 'Roboto';
        font-style: normal;
        color: white;
    font-size: 18;
    line-height: 22px;
       }
       body{
        background: #211f1f;
        font: color white;
       }
